---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### AWS IAM Role Credential Provider Integration

{{ tffile (printf "examples/credential-provider-integrations/aws-iam-role-cpi.tf" )}}

### Managed GitLab Account Credential Provider Integration

{{ tffile (printf "examples/credential-provider-integrations/gitlab-cpi.tf" )}}

### Azure Entra Federation Credential Provider Integration

{{ tffile (printf "examples/credential-provider-integrations/azure-entra-federation-cpi.tf" )}}

{{ .SchemaMarkdown | trimspace }}