# Terraform Provider Testing Build workflow.
name: Build for QA
on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

# Ensure only one workflow run at a time
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  goreleaser:
    name: GoReleaser Build for QA
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.SUBMODULE_CHECKOUT_CLIENT_ID }}
          private-key: ${{ secrets.SUBMODULE_CHECKOUT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}
          submodules: recursive
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: '~> v2'
          args: build --snapshot --clean 
      - name: Archive QA Build
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: terraform-provider-aembit
          path: dist
          retention-days: 14

  docs:
    name: Generate Docs
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.SUBMODULE_CHECKOUT_CLIENT_ID }}
          private-key: ${{ secrets.SUBMODULE_CHECKOUT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}
          submodules: recursive
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - run: go generate ./...
      - name: git diff
        run: |
          git diff --compact-summary --ignore-space-at-eol --exit-code || \
            (echo; echo "Unexpected difference in directories after code generation. Run 'go generate ./...' command and commit."; exit 1)
      - name: Archive QA Docs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: terraform-provider-aembit-docs
          path: docs
          retention-days: 14
  
  validate:
    name: Validate Build/Merge
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.SUBMODULE_CHECKOUT_CLIENT_ID }}
          private-key: ${{ secrets.SUBMODULE_CHECKOUT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}
          submodules: recursive

      # These Job Steps verify that the Aembit submodules are up to date with main
      - name: Check Submodule aembit_api_client
        run: |
          git submodule status
          BRANCH=$(git submodule status | grep "aembit_api_client" | awk -F ' ' '{print $3}')
          if [ "${BRANCH}" != "(heads/main)" ]; then
            printf "aembit_api_client is currently on the ${s} branch and needs to be updated\n"
            exit 1
          fi