# Inspect code with Go Security Checker
name: Gosec Security Checker

# Enable check for pull requests on main
on:
  pull_request:
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.SUBMODULE_CHECKOUT_CLIENT_ID }}
          private-key: ${{ secrets.SUBMODULE_CHECKOUT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
            token: ${{ steps.generate-token.outputs.token }}
            submodules: recursive
      - name: Setup Go
        uses: actions/setup-go@v5 # v5.x
        with:
            go-version-file: 'go.mod'
            cache: true
      - name: Go Mod Download
        run: go mod download
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: -exclude=G101 ./...