# Terraform Provider testing workflow.
name: Tests
env:
  AEMBIT_STACK_DOMAIN: devbroadangle.aembit-eng.com
  AEMBIT_CLIENT_ID: aembit:devbroadangle:ad6127:identity:github_idtoken:8b4602f6-c65d-4785-8656-c1c2b390272d

# This GitHub action runs your tests for each pull request and push.
# Optionally, you can turn it on using a schedule for regular testing.
on:
  pull_request:
    paths-ignore:
      - 'README.md'
    branches:
      - 'main'
  push:
    branches:
      - 'main'
  # Include workflow_call to enable execution from aembit_smoke_test/regression.yml
  workflow_call:
    inputs:
      regression:
        required: false
        type: boolean
        default: false

# Ensure only one workflow run at a time - make sure this is unique to this workflow
concurrency:
  group: tf-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Ensure project builds before running testing matrix
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.SUBMODULE_CHECKOUT_CLIENT_ID }}
          private-key: ${{ secrets.SUBMODULE_CHECKOUT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: Aembit/terraform-provider-aembit
          token: ${{ steps.generate-token.outputs.token }}
          submodules: recursive
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        env:
          TAR_OPTIONS: "--skip-old-files"
        with:
          go-version-file: 'go.mod'
      - run: go mod download
      - run: go build -v .
      - name: Run linters
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest

  generate:
    name: Generate Docs
    runs-on: ubuntu-latest
    if: always() && !inputs.regression
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.SUBMODULE_CHECKOUT_CLIENT_ID }}
          private-key: ${{ secrets.SUBMODULE_CHECKOUT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: Aembit/terraform-provider-aembit
          token: ${{ steps.generate-token.outputs.token }}
          submodules: recursive
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        env:
          TAR_OPTIONS: "--skip-old-files"
        with:
          go-version-file: 'go.mod'
      - run: go generate ./...
      - name: git diff
        run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference in directories after code generation. Run 'go generate ./...' command and commit."; exit 1)


  # Generally test with the 3 most recent Terraform versions
  # Limit to only the latest for regression tests
  # References: https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/running-variations-of-jobs-in-a-workflow#excluding-matrix-configurations
  #             https://stackoverflow.com/a/65434401
  matrix_prep:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - id: set-matrix
      name: Set up Terraform version matrix
      env:
        REGRESSION: ${{ inputs.regression }}
      run: |
        echo "REGRESSION=$REGRESSION"
        if [[ $REGRESSION == 'true' ]]; then
          echo 'matrix=["latest"]' >> "$GITHUB_OUTPUT"
        else
          echo 'matrix=["latest", "1.10", "1.9"]' >> "$GITHUB_OUTPUT"
        fi

  # Run acceptance tests in a matrix with Terraform CLI versions
  test:
    name: Terraform Provider Acceptance Tests
    needs: [build,matrix_prep]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write       # To get the GitHub Action ID JWT Token
    timeout-minutes: 15
    strategy:
      # TF Provider works with entities which have a single copy per tenant (ex: global policy compliance, sign-in policy)
      # It forces us to run the tests in sequence
      max-parallel: 1
      fail-fast: false
      matrix: 
        terraform: ${{ fromJson(needs.matrix_prep.outputs.matrix) }}
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.SUBMODULE_CHECKOUT_CLIENT_ID }}
          private-key: ${{ secrets.SUBMODULE_CHECKOUT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: Aembit/terraform-provider-aembit
          token: ${{ steps.generate-token.outputs.token }}
          submodules: recursive
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        env:
          TAR_OPTIONS: "--skip-old-files"
        with:
          go-version-file: 'go.mod'
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod download

      - name: Run Acceptance Tests
        id: test
        env:
          TF_ACC: "1"
          TF_LOG: ${{ runner.debug == '1' && 'DEBUG' || '' }}
        run: |
          CPU_COUNT=$(nproc)
          echo "Detected $CPU_COUNT CPU cores for parallelization"

          go test -timeout 20m -parallel "$CPU_COUNT" -json -v -coverprofile coverage.out ./internal/provider/... | tee results.json | jq 'select(.Output != null) | .Output' | sed s/\"//g          
          exit ${PIPESTATUS[0]}
        timeout-minutes: 20

      # Upload coverage output as artifact
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage-${{ matrix.terraform }}
          path: |
            coverage.out
            results.json
          retention-days: 1

  # Run SonarCloud Scanner and upload results
  sonarcloud:
    name: SonarCloud Scan
    needs: test
    if: always() && !inputs.regression
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.SUBMODULE_CHECKOUT_CLIENT_ID }}
          private-key: ${{ secrets.SUBMODULE_CHECKOUT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: Aembit/terraform-provider-aembit
          token: ${{ steps.generate-token.outputs.token }}
          submodules: recursive
          fetch-depth: 0

      - name: Download Test Coverage
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0

      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}